# Misty
src
misty.yml
types
tsconfig.json
tslint.json
*.map

# tests
test
coverage

# build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

# linters
.jscsrc
.jshintrc
.eslintrc*

# editor settings
.idea
.editorconfig